.dashboard-title{
  font-size: 50px;
  text-align: center;
}

.dashboard-header{
  font-size: 30px;
  text-align: left;
  margin: 20px;
  color: black;
}

.no-gutters {
  margin-right: 10px;
  margin-left: 10px;

  > .col,
  > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}


.grid-item{
  width: 100%;
  height: 200px;
  margin: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
  color: black;
}

.grid-item-rating{
  height: 120px;
}

.grid-item-description{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  padding-bottom: 20px;
}

.grid-item-description-button{
  text-decoration: none;
  color: black
}

.grid-item-description-button:hover{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.grid-item-value{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 30px;
  text-align: center;
}

.grid-name{
  font-size: 15px;
}

.dashboard-wrapper{
  width: 100vw;
  padding: 20px;
}

.wrapper-grid{
  background-color: white;
  padding: 20px;
}

//----------------------------------------------------

.grid-item-profile-value{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  text-align: center;
}

.grid-item-profile-options{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
