.dashboard-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  text-align: center;
}

.dashboard-header-1{
  font-size: 30px;
  text-align: left;
  margin: 20px;
  color: black;
}

.dashboard-header-2{
  font-size: 30px;
  text-align: left;
  margin: 20px;
  color: white;
}

.no-gutters {
  margin-right: 10px;
  margin-left: 10px;

  > .col,
  > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}


.grid-item{
  width: 100%;
  height: 200px;
  margin: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: #7CD4E0;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
}

.grid-item-rating{
  height: 100px;
}

.grid-item-description{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  padding-bottom: 20px;
}

.grid-item-value{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 30px;
  text-align: center;
}

.grid-name{
  font-size: 15px;
}

.dashboard-wrapper-1{
  width: 100vw;
  padding: 20px;
}

.dashboard-wrapper-2{
  width: 100vw;
  padding: 20px;
  background-color: grey;
}

.wrapper-grid{
  background-color: grey;
  padding: 20px;
}
