// Specific CSS for your home-page
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 7rem;
  min-height: 100%;
  background-color: white;
}

hr {
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em auto;
    padding: 0;
}
