body, h1, h2{
  font-family: 'Montserrat', sans-serif;
}
h4{
  margin-bottom: 20px;
}

.title-welcome{
  text-align: center;
}

.information{
  text-align: center;
}

.user-description{
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.details{
  text-align: left;
  margin-left: 20px;
}

.user-image{
  border-radius: 5px;
  height: 380px;
}

.reviews{
  margin: 20px;
  text-align: center;
}

.product-review-pic{
  height: 40px;
  border-radius: 50%;
}

.review-list {
  list-style: none;
}
