.profile-information{
}

.user-description{
  text-align: center;
  background: white;
  border-radius: 5px;
}

.profile-information-details{
  text-align: left;
  margin-left: 20px;
}

.user-image{
  border-radius: 5px;
  height: 380px;
}

.reviews{
  margin: 20px;
  text-align: center;
}

.product-review-pic{
  height: 40px;
  border-radius: 50%;
}

.review-list {
  list-style: none;
}
