.wallet-title{
  background-color: grey;
  color: #7CD4E0;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  border-bottom: solid black;
}

.wallet-amount{
  background-color: grey;
  color: #7CD4E0;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 10px;
}

