<div class = 'footer'>
  <p>Problem with the website? Contact Gilles, it's his fault...</p>
  <i class="fab fa-twitter-square"></i>
  <i class="fab fa-facebook-square"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-linkedin"></i>
</div>

