.card-product {
  margin-top: 20px;
  display: flex;
  height: 300px;
  position: relative;
}

.card-product-image{
  background-color: grey;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 30%
}

.card-product-description{
  display: flex;
  background-color: white;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
}

.card-product-description-price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #bceb3c;
  width: 120px;
  height: 60px;
  border-radius: 50px;
}

.card-product:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

//---------------------------------------------------------------

.card-product-dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  background-color: grey;
  font-weight: bold;
}

.card-product-dashboard-image{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.card-product-dashboard-price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #bceb3c;
  width: 120px;
  height: 60px;
  border-radius: 50px;
}

.center{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white{
  background-color: white;
}

.expired {
  background-image: url("https://vignette.wikia.nocookie.net/walking-war-robots/images/5/56/Expired.png/revision/latest?cb=20170606170948");
  background-size: cover;
  background-position: center;
  height: 60px;
  width: 120px;
  position: absolute;
  z-index: 3;
}

.card-icons{
  font-size: 100px;
  text-align: center;
  margin-top: 30px;
  color: #7CD4E0;
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }


