
<div class = 'banner products'>
  <h1> All the products</h1>
</div>

<div class = 'container'>
  <div class = 'row'>
    <% @products.each do |p| %>
    <div class = 'col-sm-12 col-md-6'>
      <div class= 'card-product'>
        <div class = card-product-image style = "background-image: url(<%= cl_image_path p.picture %>);">

        </div>
        <div class = 'card-product-description'>
          <div class = 'card-product-description-name'> <%= p.name %> </div>
          <div class = 'card-product-description-price'> <%= p.price %> € </div>
        </div>
      </div>
    </div>
    <% end  %>
  </div>
</div>

